# .travis.yml


language: php

php:
  - "7.2"
  - "7.3"  

env:

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  - mysql -u root -p test < tests/mysql_database.sql

before_script:
  - rm composer.lock
  - composer self-update
  - composer install --prefer-source --no-interaction
  - cp phpunit.xml.dist phpunit.xml

script:
  - composer phpunit

after_script:
